@inherits LayoutComponentBase
@inject NavigationManager Navigate
@inject HttpClient Client

<div class="page m-md-5 border border-1 shadow">
    <div>
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code
{
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var AuthenticationState = await Client.GetAsync("https://localhost:7117/api/Account/GetAuthenticationState").ConfigureAwait(false);
            if (AuthenticationState == null || !AuthenticationState.IsSuccessStatusCode)
            {
                Navigate.NavigateTo("/signin", true);
            }
        }
        catch (Exception)
        {
            Navigate.NavigateTo("/signin", true);
        }
    }
}