@inherits LayoutComponentBase
@inject NavigationManager Navigate
@inject HttpClient Client

<div class="page">
    <div>
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank" class="link-dark">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code
{
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var AuthenticationState = await Client.GetAsync("https://localhost:7117/api/Account/GetAuthenticationState").ConfigureAwait(false);
            if (AuthenticationState == null || !AuthenticationState.IsSuccessStatusCode)
            {
                Navigate.NavigateTo("/signin", true);
            }
        }
        catch (Exception)
        {
            Navigate.NavigateTo("/signin", true);
        }
    }
}